<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<entityFramework>
	  <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
		<parameters>
		  <parameter value="Data Source=localhost;Initial Catalog=CMS;Persist Security Info=True;User ID=sa;Password=TAB_DRA1" />
		</parameters>
	  </defaultConnectionFactory>
	</entityFramework>
</configuration>